@inject IStringLocalizer<Resource> localizer

<div class="col">

	<div class="card product-card w-100 mt-2 mb-2 m-3">
		<div class="card-body" style="height: 20%">
			<h5 class="card-title">@Product.Name</h5>
			<p class="mb-0">@Product.Price $</p>
		</div>
	</div>

</div>